    <div class="mat-typography">
      <!-- Scrollable Navigation Bar -->
      <div id="subtopnav" class="scroll-nav">
        <!-- Left: Burger -->
        <div class="burger-menu">
          <span class="burger-bar"></span>
          <span class="burger-bar"></span>
          <span class="burger-bar"></span>
        </div>
        <!-- Right: Exit -->
        <button *ngIf="!authService.isLoggedIn()" class="exit-btn" (click)="login()">Sign In</button>
      </div>
     
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
      <a href="javascript:void(0)" (click)="navigattHome()">Home</a>
      <a href="javascript:void(0)" class="closebtn" (click)="closeMenu()">&times;</a>
      <a href="javascript:void(0)" (click)="navigateUpload()">Upload</a>
      <a href="javascript:void(0)" (click)="navigateToAllInvoices()">Invoices</a>
      <a href="javascript:void(0)" (click)="navigateToSInvoices()">S Invoices</a>
      <!-- <a *ngIf="!authService.isLoggedIn()" (click)="login()">Loginwait</a> -->
      
      
      
    </div>  
    <!-- Routed components appear here -->
    <router-outlet></router-outlet>
  </div>
