<div class="invoice-container">
  <h1>All Invoices</h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <table class="invoice-table"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
          <tr>
              <th>Invoice Number</th>
              <th>Date</th>
              <th>Bill To</th>
              <th>Ship To</th>
              <th>Ship Mode</th>
              <th>Balance Due</th>
              <th>Total</th>
              <th>Notes</th>
              <th>Order ID</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let invoice of invoices">
              <td>{{ invoice.invoice_number }}</td>
              <td>{{ invoice.date }}</td>
              <td>{{ invoice.bill_to }}</td>
              <td>{{ invoice.ship_to || 'N/A' }}</td>
              <td>{{ invoice.ship_mode }}</td>
              <td>{{ invoice.balance_due }}</td>
              <td>{{ invoice.total }}</td>
              <td>{{ invoice.notes }}</td>
              <td>{{ invoice.order_id }}</td>
              <td>
                <i class="fas fa-pencil-alt edit-icon"  title="Edit"></i>
                <i class="fas fa-trash delete-icon"  title="Delete"></i>
            </td>
          </tr>
      </tbody>
  </table>
</div>