 .logo h1 {
margin-bottom: 0.2em; /* Decrease space below h1 */
}

.logo p.subheading {
margin-top: 0.2em; /* Decrease space above p */
}
 
 /* Header Styling */
 .logo {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}